################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MathSharp/obj
/MathSharp/.vs/MathSharp/v16
/MathSharp/bin/Debug/netcoreapp3.0
