################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/.vs
.vs/
bin/
obj/
*.vsp
/Interactive
*/bin/
*/obj/
/bin
/obj
/packages
/fieldtest/testprj
/AngouriMath/Core/Sys/Items/Numeric/packages
/Tests/UnitTests/Algebra/SolveTest/TestGenerator/.idea
/Tests/UnitTests/Algebra/SolveTest/TestGenerator/out/production/AM_utils
/Tests/UnitTests/TestGenerator/.idea
/Tests/UnitTests/TestUtils/.idea
/Tests/UnitTests/TestUtils/out/production/TestGenerator
/AngouriMath.sln.DotSettings.user
/Tests/UnitTests/.idea
/Tests/DotnetBenchmark/benchmark_results.csv
/AngouriMath/Core/Antlr/antlr4
/Samples/.ipynb_checkpoints
/Sources/Samples/.ipynb_checkpoints
/Sources/Samples/CPlusPlusPlayground/load.obj
/Sources/Samples/CPlusPlusPlayground/load.exe
/Sources/Samples/CPlusPlusPlayground/out/build/x64-Debug (default)
out/
/Sources/Utils/Utils/Properties/launchSettings.json
/Sources/Wrappers/AngouriMath.CPP.Importing/AngouriMath.xml
/Sources/Wrappers/AngouriMath.CPP.Importing/AngouriMath.pdb
/Sources/Wrappers/AngouriMath.CPP.Importing/AngouriMath.CPP.Exporting.pdb
/Sources/Wrappers/AngouriMath.CPP.Importing/AngouriMath.CPP.Exporting.dll
/Sources/Wrappers/AngouriMath.CPP.Importing/AngouriMath.CPP.Exporting.deps.json
/Sources/Wrappers/AngouriMath.CPP.Importing/win-x64/
/Sources/Wrappers/AngouriMath.CPP.Importing/linux-x64/
/Sources/Wrappers/AngouriMath.CPP.Importing/mac-x64/
*.zip
/Sources/Tests/CPPWrapperUnitTests/tests/build
/Sources/Wrappers/AngouriMath.CPP.Importing/CMakeFiles
/Sources/Wrappers/AngouriMath.CPP.Importing/build/ZERO_CHECK.vcxproj.filters
/Sources/Wrappers/AngouriMath.CPP.Importing/build/ZERO_CHECK.vcxproj
/Sources/Wrappers/AngouriMath.CPP.Importing/build/x64/Debug/ZERO_CHECK
/Sources/Wrappers/AngouriMath.CPP.Importing/build/cmake_install.cmake
/Sources/Wrappers/AngouriMath.CPP.Importing/build/CMakeFiles
/Sources/Wrappers/AngouriMath.CPP.Importing/build/CMakeCache.txt
/Sources/Wrappers/AngouriMath.CPP.Importing/build/AngouriMath.CPP.Importing.vcxproj.filters
/Sources/Wrappers/AngouriMath.CPP.Importing/build/AngouriMath.CPP.Importing.vcxproj
/Sources/Wrappers/AngouriMath.CPP.Importing/build/AngouriMath.CPP.Importing.sln
/Sources/Wrappers/AngouriMath.CPP.Importing/build/AngouriMath.CPP.Importing.dir/Debug
/Sources/Wrappers/AngouriMath.CPP.Importing/build/ALL_BUILD.vcxproj.filters
/Sources/Wrappers/AngouriMath.CPP.Importing/build/ALL_BUILD.vcxproj
/Sources/Wrappers/AngouriMath.CPP.Importing/out-x64
/Sources/Utils/Utils/Properties/launchSettings.json
out/
TestResults
/Sources/Wrappers/AngouriMath.CPP.Importing/AngouriMath.CPP.Importing.rar
/Sources/.idea/*
**.user
/Sources/Tests/DotnetBenchmark/Properties/launchSettings.json
**/.ionide/**
Sources/msbuild.binlog
**/publish-output/**
**/output/**
**/deb-output/**
