################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UnitTests/obj
/UnitTests/bin
/AngouriMath/.vs
/AngouriMath/bin
/AngouriMath/obj
/Samples/bin
/Samples/obj
/Samples/.vs
/AngouriMathPlot/bin
/AngouriMathPlot/obj
/AngouriMathPlot/.vs
/PerformanceBenchmark/bin
/PerformanceBenchmark/obj
/Tests/PerformanceBenchmark/bin
/Tests/PerformanceBenchmark/obj
/Tests/UnitTests/bin
/Tests/UnitTests/obj
/packages
/Samples/GraphicExample/GraphicExample/bin/Release
/Samples/GraphicExample/GraphicExample/obj/Release
/Samples/Samples/bin
/Samples/Samples/obj
/Samples/GraphicExample/GraphicExample/bin/Debug
/Samples/GraphicExample/GraphicExample/obj/Debug
/Tests/DotnetBenchmark/bin/Release/netcoreapp3.1
/Tests/DotnetBenchmark/obj
/Tests/DotnetBenchmark/bin/Debug/netcoreapp3.1
/AngouriMathPlot/obj
/AngouriMathPlot/bin/Debug/netstandard2.0
*.vsp
/Interactive
