name: 'Kernel Benchmark'

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  Benchmark:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@latest
    
    - name: Setup .NET 10
      uses: actions/setup-dotnet@latest
      with:
        dotnet-version: '10.x'
        include-prerelease: true
        
    - name: 'Inter version CPU benchmark'
      run: |
        cd Sources/Tests/DotnetBenchmark
        dotnet run -c Release CommonFunctionsInterVersion
    
    - name: 'Inter version RAM benchmark'
      run: |
        cd Sources/Tests/DotnetBenchmark
        dotnet run -c Release RAMUsageTest
        
