name: 'C++ Build'

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  AngouriMathCpp:

    strategy:
        matrix:
          include:
          - os: windows-latest
            flag: win-x64
          - os: ubuntu-latest
            flag: linux-x64
          - os: macos-latest
            flag: osx-x64
  
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v6
    
    - name: Setup .NET 10
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10.x'

    - name: 'Generating exports'
      run: |
        cd Sources/Utils
        dotnet run -p Utils ExportsGenerator
        
    - name: 'Install some libs for Linux'
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: |
        sudo apt-get install zlib1g-dev
        sudo apt-get install libkrb5-dev

    - name: 'Building the library into native for Windows'
      if: ${{ matrix.os == 'windows-latest' }}
      shell: cmd
      run: |
        cd Sources/Wrappers/AngouriMath.CPP.Exporting
        mkdir ../AngouriMath.CPP.Importing/out-x64
        call "C:\Program Files\Microsoft Visual Studio\18\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
        dotnet publish -p:NativeLib=Shared -p:SelfContained=true -r ${{ matrix.flag }} -c release
        
    - name: 'Building the library into native for Linux & MacOS'
      if: ${{ matrix.os != 'windows-latest' }}
      run: |
        cd Sources/Wrappers/AngouriMath.CPP.Exporting
        mkdir ../AngouriMath.CPP.Importing/out-x64
        dotnet publish -p:NativeLib=Shared -p:SelfContained=true -r ${{ matrix.flag }} -c release

    - name: 'Renaming the library for Linux'
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: |
        cd Sources/Wrappers/AngouriMath.CPP.Importing/out-x64
        if [ -f "AngouriMath.CPP.Exporting.so" ]; then
          mv AngouriMath.CPP.Exporting.so libAngouriMath.CPP.Exporting.so
        fi
        
    - name: 'Renaming the library for OS X'
      if: ${{ matrix.os == 'macos-latest' }}
      run: |
        cd Sources/Wrappers/AngouriMath.CPP.Importing/out-x64
        ls -la
        if [ -f "AngouriMath.CPP.Exporting.dylib" ]; then
          mv AngouriMath.CPP.Exporting.dylib libAngouriMath.CPP.Exporting.dylib
        fi
        if [ -f "libAngouriMath.CPP.Exporting.dylib" ]; then
          install_name_tool -id "@rpath/libAngouriMath.CPP.Exporting.dylib" libAngouriMath.CPP.Exporting.dylib
        fi

    - name: 'Uploading artifacts'
      uses: actions/upload-artifact@v6
      with:
        name: AngouriMath.CPP-${{ matrix.os }}-x64
        path: ./Sources/Wrappers/AngouriMath.CPP.Importing
        retention-days: 3
        
    - name: 'Building AngouriMath.Importing'
      run: |
        cd Sources/Wrappers/AngouriMath.CPP.Importing
        cmake -S . -B build
        cmake --build build

