name: 'C#/Kernel Build'

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  AngouriMath:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: 'recursive'
    - name: Setup .NET 10
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10.x'
        include-prerelease: true
        
    - name: Build AngouriMath
      run: |
        cd Sources/AngouriMath/AngouriMath
        dotnet build
