name: 'F# Test'

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  Test:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout
      with:
        submodules: 'recursive'

    - name: Setup .NET 10
      uses: actions/setup-dotnet
      with:
        dotnet-version: '10.x'
        include-prerelease: true

    - name: Build Tests # We need it to be able to retry
      run: |
        dotnet add "Sources/Tests/FSharpWrapperUnitTests" package Microsoft.NET.Test.Sdk # Update is required for GitHubActionsTestLogger to print anything
        dotnet add "Sources/Tests/FSharpWrapperUnitTests" package GitHubActionsTestLogger
        dotnet build Sources/Tests/FSharpWrapperUnitTests

    - name: Test
      run: |
        dotnet test "Sources/Tests/FSharpWrapperUnitTests" -c Release -l GitHubActions
